# Dependencies
backend/venv/
frontend/node_modules/

# Environment Variables
.env
backend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Python
__pycache__/
backend/__pycache__/
*.py[cod]
*$py.class
backend/output.txt
backend/test_doc.pdf

# Next.js
frontend/.next/
frontend/out/
frontend/build/

# Databases
backend/chroma_db/
backend/data/*.pdf
!backend/data/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDEs
.vscode/
.idea/
.DS_Store
*.swp
*.swo
